@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: black;
    font-size: 20px;
}

.topo {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.conteiner-topo {
    background-color: rgb(83, 131, 170);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 900px;
    height: 150px;
}

.conteiner.topo > div {
    padding: 10px;
}

.conteiner-topo > div p {
    font-size: 20px;
    text-align: center;
}

.conteiner-topo > div input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
}